<div class="container" >
    <nav class="navbar navbar-toggleable-sm navbar-light col-md-12">
        <div class="navContainer" id="navbarSupportedContent">
            <li class="nav-item pull-left">
                <a class="nav-link" href="/search">SEARCH PAGE</a>
            </li>
            <li class="nav-item pull-left" (click)="signUp()">
                <a id="sign-up" class="nav-link" href="/register">REGISTER</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item pull-left">
                <a class="nav-link" href="/hostedSignup">HOSTED SIGNUP</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item pull-left">
                <a class="nav-link" href="/signupWithCard">CARD SIGNUP</a>
            </li>
            <li *ngIf="!loggedIn" class="nav-item pull-left">
                <a id="log-in" class="nav-link" href="/login">LOG IN</a>
            </li>
            <li *ngIf="loggedIn" class="nav-item pull-left" (click)="logOut()">
                <a id="log-out" class="nav-link">LOG OUT</a>
            </li>
        </div>
    </nav>
</div>