<div>
	<header></header>
</div>
<br>
<br>
<br>
<div class="search-container">
	<div><searchbar (itemWasSelected)="selectedItem($event)"></searchbar></div>
	
	<div class="map-wrapper">
      <agm-map #gm [latitude]="lat" [longitude]="long" [zoom]="zoom" [scrollwheel]="false">
        <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude" [title]="m.name">
        	<agm-info-window>
		        <strong>{{m.name}} </strong>
		    </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

	<div><search-results [searchResults]="searchResults | async"></search-results></div>
	
</div>
